<network>
  <name>{{ net_name }}</name>
  <uuid>{{ net_uuid }}</uuid>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <bridge name='{{ net_bridge }}' stp='on' delay='0'/>
  <mac address='{{ net_mac_address }}'/>
  <ip address='{{ net_ip }}' netmask='{{ net_netmask }}'>
    <dhcp>
      <range start='{{ net_dhcp_range_start }}' end='{{ net_dhcp_range_end }}'/>
    </dhcp>
  </ip>
</network>

